<html>

<head>
    <meta charset="utf-8">
    <title>Weather</title>

    <link rel="stylesheet" href="../css/style.css">

</head>

<body>
    <div class="main-content">
        <h1>{{title}}</h1>

        <h3>PREVEZAO DOS TEMPO!</h3>

        <form>
            <input type="text" placeholder="Location">
            <button>Pesquisa</button>
        </form>

        <div class="forecast">
            <p id="msg-1"></p>

            <p id="msg-2"></p>
        </div>

    </div>


    <footer>
        <p>Created By {{name}}</p>
    </footer>

    <script src="../js/script.js"></script>
</body>

</html>