body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    margin: 12em 18em;
}

.main-content {
    position: absolute;
    font-family: 'capriola', sans-serif;
    color: cadetblue;
}

.main-content h1 {
    color: rgb(109, 218, 218);
    font-size: 80px;
}

footer {
    position: absolute;
    bottom: 10em;
    font-size: 18px;
}